body{
	background: #000000; 
	text-align: center;
	color: white;
}
.allGame{
	position: relative;
}
.game{
	cursor: default;
	opacity: 0.05;
}
canvas{
	border: 1px solid #ffffff;
	cursor: none;
}
.message{
	position: absolute;
	top: 39.5%;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	color: white;
	font-size: 100px;
	font-family: Arial;
}
.scoreDiv{
	position: absolute;
	top: 53%;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	color: #00ffd8;
	font-size: 40px;
	font-family: Arial;
}
.restartDiv{
	position: absolute;
	top: 60%;
	right: 46.5%;
	margin: auto;
	color: #fff600;
	font-size: 40px;
	font-family: Arial;
	cursor: pointer;
}
